.gradle/
build/
*/build.gradle
*/settings.gradle
*/gradle.properties
local.properties
*.iml
.idea/
*.hprof
.idea/
*.iws
*.ipr
captures/
.externalNativeBuild/
build/
app/build/
/**/build/
.cxx/
.idea/assetWizardSettings.xml
.idea/compose-preview.xml
*.log
*.jks
*.keystore
google-services.json
firebase.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.kotlin_module
crashlytics-build.properties
ehthumbs.db
Desktop.ini
*~
.idea/caches
.idea/libraries
